<!DOCTYPE html>
<html>
  <head>
    <title>Paragon</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'manifest' %>
    <%= javascript_pack_tag 'vendor' %>
  </head>

  <body>
    <div id="admin-navbar-component"></div>

    <div class="container-fluid main-container">
      <%= yield %>
    </div>

    <footer class="admin-footer">
      <div class="container">
        <p class="text-muted">
          Paragon - Inventory and Sales Management System
          Version. <%= Time.current %> <%# FIXME add git revision %>
        </p>
      </div>
    </footer>

    <%= render "shared/app_react_components" %>
  </body>
</html>
